body {
    background-color: rgb(210, 233, 241);
    color: maroon;
    font-family: Arial;
    margin: 0px;
}
main {
    background-color: oldlace; 
    color: saddlebrown; 
    font-family: Arial; 
    margin: 0px;
}
footer {
    background-color: rosybrown; 
    color: cornsilk; 
    font-family: Arial;
    padding: 10px;
}
header {
    background-color: rosybrown; 
    color: cornsilk; 
    font-family: Arial;
    padding: 10px; 
}
a {
    color: maroon;
    text-decoration: none;
    transition: 1s 2s;
}

a:link{
    color: green;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: maroon;
    background-color: transparent;
    text-decoration: none;}

a:hover {
    color: red;
    text-decoration: underline;
    box-shadow: 10px 10px 5px rgb(117, 117, 215);
    transition: 0.3s;
}

a:active{
    color: black;
    opacity: 0.3;
}

div.menu {
    border: 7px solid rgb(165, 70, 70);
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
}

div.menu:hover {
    background-color: #ffffff30;
    box-shadow: 0 0 15px 00000030;
}