body {
    background-color: rgb(210, 233, 241);
    color: maroon;
    font-family: Arial;
    margin: 0px;
}
main {
    background-color: oldlace; 
    color: saddlebrown; 
    font-family: Arial; 
    margin: 0px;
}
footer {
    background-color: rosybrown; 
    color: cornsilk; 
    font-family: Arial;
    padding: 10px;
}
header {
    background-color: rosybrown; 
    color: cornsilk; 
    font-family: Arial;
    padding: 10px; 
}